# Dependencies
node_modules/
**/node_modules/

# Next.js build output
frontend/.next/
frontend/out/

# NestJS build output
backend/dist/

# Environment & Local files
.env
.env*.local
*.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
